/.vs
.vscode/tasks.json
/Morro.Content.Pipeline/obj/Debug
/Morro.Content.Pipeline/obj/Release
/Morro.Content.Pipeline/bin/Debug
/Morro.Content.Pipeline/bin/Release
/packages
/Morro.Windows/bin
/Morro.Windows/obj
